[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[core]
	# Use custom `.gitignore`
	excludesfile = /Users/deanfoley/.gitignore
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[include]
	path = .gitconfig.local