#[url "ssh://git@github.com/"]
#	insteadOf = https://github.com/
[core]
	# Use custom `.gitignore`
	excludesfile = /Users/deanfoley/.gitignore
	pager = delta
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[delta]
	side-by-side = true
[include]
	path = .gitconfig.local
[user]
	signingkey = 933D54D678FDE86D927BB75291CB2CE668E890E
[commit]
	gpgsign = true
